
<h3>List Of Factures </h3>
<div id="content" #content> 
    <table class="table" >
        <thead>
          <tr>
            <th >Id</th>
            <th >client</th>
            <th >respClient</th>
            <th >adresseclient</th>
            <th >devise</th>
            <th >datefacture</th>
            <th >fraisLivraison</th>
            <th >dateLivraison</th>
            <th >totalttc</th>
            <!--th >archive</th-->
            <th >Actions</th> 
          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor="let facture of Factures">
              <td>{{facture.id}}</td>
              <td> {{facture.client}} </td>
              <td> {{facture.reponsableclient}} </td>
              <td> {{facture.adresseclient}} </td>
              <td> {{facture.devise}} </td>
              <td> {{facture.datefacture}} </td>
              <td> {{facture.fraisLivraison}} </td>
              <td> {{facture.dateLivraison}} </td>
              <td> {{facture.totalttc}} </td>
           
              <td>
                  <button class="btn btn-sm btn-danger" (click)="delete(facture.id)" >
                      Delete
                  </button>
    
              </td>
          </tr>
      </tbody>
      </table>
  </div>
  <h3>Add Facture</h3>
<div class="container">
    <form #f="ngForm">
        <p></p>
       
        <div class="form-group">
            <label>client</label>
            <input type="text" name="client" class="form-control" [(ngModel)]="facture.client" #p="ngModel" required> 
            <div class="alert alert-danger" *ngIf="p.invalid && p.touched">
            le nom de client est obligatoire
          </div>
        </div>
        <p></p>

        <div class="form-group">
            <label>responsableclient</label>
            <input type="text" name="reponsableclient" class="form-control" [(ngModel)]="facture.reponsableclient" #ps="ngModel" required>
          <div class="alert alert-danger" *ngIf="ps.invalid && ps.touched">
            le responsableclient est obligatoire
          </div>
        </div>
          <p></p>
          
        <div class="form-group">
          <label>adresseclient</label>
          <input type="text" name="adresseclient" class="form-control" [(ngModel)]="facture.adresseclient" #pt="ngModel" required>
        <div class="alert alert-danger" *ngIf="pt.invalid && pt.touched">
          l'adresseclient est obligatoire
        </div>
      </div>
      <p></p> 
      <div class="form-group">
        <label>devise</label>
        <input type="text" name="devise" class="form-control" [(ngModel)]="facture.devise" #qm="ngModel" required>
      <div class="alert alert-danger" *ngIf="qm.invalid && qm.touched">
        la devise est obligatoire
      </div>
    </div>
    <p></p>
    <div class="form-group">
      <label>dateFacture</label>
      <input type="date" name="datefacture" class="form-control" [(ngModel)]="facture.datefacture" required>
  </div>
  <p></p>
  <div class="form-group">
    <label>dateLivraison</label>
    <input type="date" name="dateLivraison" class="form-control" [(ngModel)]="facture.dateLivraison" required>
</div>
<p></p>
<div class="form-group">
    <label>fraisLivraison</label>
    <input type="number" name="fraisLivraison" class="form-control" [(ngModel)]="facture.fraisLivraison" #fl="ngModel" required>
  <div class="alert alert-danger" *ngIf="fl.invalid && fl.touched">
    le fraisLivraison est obligatoire
  </div> 
</div>
<p></p>
  <div class="form-group">
    <label>totalttc</label>
    <input type="number" name="totalttc" class="form-control" [(ngModel)]="facture.totalttc" #tt="ngModel" required>
  <div class="alert alert-danger" *ngIf="tt.invalid && tt.touched">
    le total TTC est obligatoire
  </div> 
</div>



<!--div class="form-group">
  <label for="archive" class="form-label">archive</label>
  <select class="form-select" aria-label="Default select example" name="archive" [(ngModel)]="facture.archive" id="archive">
    <option selected>Choose archive</option>
    <option value="0">yes</option>
    <option value="1">no</option>
  </select>
</div-->
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid" (click)="save()">
            Add
        </button>
     
    </form>

</div>
<p></p>
